<div class="container-fluid">
  <h1 class="d-flex display-4 justify-content-center" style="background-color: aqua;"> Live Rating</h1>
  <div class="d-flex row justify-content-center" style="background-color: aqua;">
    <div *ngFor="let category of categories">
      <button [ngClass]="currentCategory == category ? 'btn btn-success mr-3' : 'btn btn-primary mr-3'" (click)="changeCategory(category)">{{ category | titlecase }}</button>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5" *ngIf="list.length > 0; else emptyDiv">
    <ul class="list-group">
      <li *ngFor="let item of list" class="d-flex flex-column justify-content-center list-group-item">
        <div class="d-flex justify-content-center"><h1>{{ item.name | titlecase }}</h1></div>
        <div class="d-flex justify-content-center my-2">Votes: {{ item.votes }}</div>
        <div>
          <button class="btn btn-primary mx-3" (click)="vote(item.id, true)">Up Vote</button>
          <button class="btn btn-primary" (click)="vote(item.id, false)">Down Vote</button>
        </div>

      </li>
    </ul>
  </div>
  <ng-template #emptyDiv>
    <h1 class="d-flex justify-content-center display-4">List is Empty</h1>
  </ng-template>
</div>