<div class="container-fluid">
  <h1 class="d-flex display-4 justify-content-center"> Live Rating</h1>
  <div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row">
      <div *ngFor="let category of categories">
        <button [ngClass]="currentCategory == category ? 'btn btn-success mr-3' : 'btn btn-primary mr-3'"
          (click)="changeCategory(category)">{{ category | titlecase }}</button>
      </div>
    </div>
    <div class="d-flex flex-row my-3">
      <input #addCategoryItemInput class="form-control" placeholder="{{inputPlaceholder}}" />
      <button class="btn btn-primary ml-3" (click)="addCategoryItem(addCategoryItemInput.value)">Add</button>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5" *ngIf="list.length > 0 && !isLoading; else loadingDiv">
    <ul [transition-group]="'flip-list'" class="list-group">
      <li transition-group-item *ngFor="let item of list"
        class="d-flex flex-column justify-content-center list-group-item">
        <div class="d-flex justify-content-center">
          <h1>{{ item.name | titlecase }}</h1>
        </div>
        <div class="d-flex justify-content-center my-2">Votes: {{ item.votes }}</div>
        <div>
          <button class="btn btn-primary mx-3" (click)="vote(item.id, true)">Up Vote</button>
          <button class="btn btn-primary" (click)="vote(item.id, false)">Down Vote</button>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #loadingDiv>
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <h1 class="d-flex justify-content-center display-4">Loading...</h1>
  </ng-template>
</div>